<launch>

  <node name="zed2"
        pkg="zed_wrapper"
        type="zed_wrapper_node"
        respawn="true">
    <rosparam command="load" file="$(find leo_erc_bringup)/config/zed2.yaml"/>
  </node>

  <node name="zed_odom_node"
        pkg="leo_erc_bringup"
        type="zed_odom"
        respawn="true">
  </node>

  <include file="$(find leo_erc_pdu)/launch/pdu.launch" />

</launch>